<main>
    <div id="left-section">
        <div class="Section-heading">
            <p>To Review</p>
        </div>
        <% for(r of recipients){ %> 
            <div class="available-recipients">
                <form action="/reviews/newReview/<%=r.id%>" method="GET">
                    <p>To: <%=r.name%></p>
                    <div class="new-review-block">
                        <textarea name="newReview" rows="5"></textarea>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        <%}%>
    </div>
    <div id="right-section">
        <div class="Section-heading">
            <p>My Reviews</p>
        </div>
        <% for (r of reviews){%>
            <div class="my-reviews">
                <p>From: <%=r.name%></p>
                <div>
                    <p><%=r.review%></p>
                </div>
                <p>Updated At: <%=r.updated%></p>
            </div>
        <%}%>
    </div>
</main>